
@mixin fontFam()
    font-family: "Inter"

@mixin heading1()
    font-size: 72px
    line-height: 68.4px
    letter-spacing: -2.5px
    font-weight: 800

@mixin heading2()

    font-size: 62px
    line-height: 58.9px
    letter-spacing: -2px
    font-weight: 800
@mixin parah1()
    font-size: 22px
    font-weight: 400
    line-height: 30.8px
    letter-spacing: normal

.ts-atom-h1
@include fontFam()
@include heading1()
.ts-atom-h2
@include fontFam()
@include heading2()
.ts-atom-h1-para
@include fontFam()
@include parah1()
