$medium: 768px
$large: 1200px
body 
    font-family: "Inter"
.ts-atom-h1
    font-size: 50px
    font-weight: 800
    line-height: 47.5px
    letter-spacing: -2.5px
.ts-atom-h1-para
    font-size: 19px
    font-weight: 400
    line-height: 26.6px
    max-width: 320px
.ts-atom-h2
    font-size: 40px
    font-weight: 800
    line-height: 38px
    letter-spacing: -1.5px
.ts-atom-h2-para
    font-size: 18px
    font-weight: 400
    line-height: 27px
    letter-spacing: -0.15px
    color: rgb(87, 87, 87)
.ts-atom-section-icons
    width: 70px
    border-style: none
    float: left
.ts-atom-icon-desc
    font-size: 15px !important
    border-style: none
    float: left
    padding-top: 16px
    width: 250px 
    padding-left: 0
.ts-molc-img-desc
    padding-left: 0px
    margin-left: -20px 
.ts-molc-img-desc
    margin-top: -30px
.ts-molc-head-desc__h2
    margin-bottom: 24px
.ts-molc-quality__h2--mb18
    margin-bottom: 18px
.ts-molc-quality__h2-para
    width: 322.5px
.ts-molc-head-desc__h2--width303
    width: 303.141px
.ts-molc-head-desc__h2-para--width303
    width: 303.141px
    margin-bottom: 24px
.ts-organism-CRO--bg-fbf7f5
    background-color: #fbf7f5
.ts-molc-head-desc-CRO__img-desc
    background-color: #fbf7f5

@media screen and (min-width:$medium) 
    .ts-atom-h1 
        font-size: 63px
        line-height: 59.85px
        letter-spacing: -2.5px
        font-weight: 800
        width: 495.334px
    .ts-atom-h2 
        font-size: 53px
        line-height: 50.35px
        letter-spacing: -2px
        font-weight: 800
        
    .ts-atom-h1-para
        font-size: 22px
        font-weight: 400
        line-height: 33.6px
        letter-spacing: normal
        max-width: 500px
    .ts-molc-better__h1
        margin-bottom: 20px
    .ts-molc-quality__h2
        width: 495.344px
    .ts-molc-quality__h2-para
        width: 495.334px
        line-height: 31px 
    .ts-molc-head-desc__h2-para--width303
        width: 369.8px
        margin-bottom: 24px
    
@media screen and (min-width: $large) 
    .ts-atom-h1 
        font-size: 72px
        line-height: 68.4px
        letter-spacing: -2.5px
        font-weight: 800
        width: 740px
    .ts-atom-h2 
        font-size: 62px
        line-height: 58.9px
        letter-spacing: -2px
        font-weight: 800
    .ts-atom-h1-para
        font-size: 22px
        font-weight: 400
        line-height: 30.8px
        letter-spacing: normal
        max-width: 560px
    .ts-atom-h2-para
        font-size: 21px
        font-weight: 400
        line-height: 31.5px
        letter-spacing: -0.15px
    .ts-molc-quality__h2
        width: 775.328px
    .ts-molc-quality__h2-para
        width: 555.328px
        margin-left: 90px
    .ts-org-quality__head-and-desc
        margin-left: 170px
    .ts-molc-head-desc__h2--width303
        width: 540.375px
        margin-bottom: 24px
    .ts-molc-head-desc__h2-para--width303
        width: 540.375px
        margin-bottom: 24px
    .ts-atom-icon-desc
        width: 377px



        
  
