$md: 768px
$lg: 1200px

.body 
    font-family: "Inter"



.smth 
  
    @media screen and (min-width: $md) 
    
  
    @media screen and (min-width: $lg) 
        .ts-atom-h1 
            font-size: 72px
            line-height: 68.4px
            letter-spacing: -2.5px
            font-weight: 800


        .ts-atom-h2 
            font-size: 62px
            line-height: 58.9px
            letter-spacing: -2px
            font-weight: 800


        .ts-atom-h1-para 
            font-size: 22px
            font-weight: 400
            line-height: 30.8px
            letter-spacing: normal
  


