$ff1 : 'Inter' , sans-serif 
$ff2: 'Inconsolata', monospace

body
  font-family:  $ff1

.ts-molc-cardt1
  padding: 0px

.ts-molc-cardt1--bg
  background-color:#fbf7f5 
  width: 269px
  height: 400px

.ts-cardt1__image
  width: 100px
  height: 100px

.ts-cardt1__h4

  font-size: 28px

.ts-cardt1__p
  color: #777777
  font-size: 18px
  line-height: 1.25
    