$ff1: 'Inter' , sans-serif 
$ff2: 'Inconsolata', monospace
$foot: #CACACA
$medium: 768px
$large: 992px

body
  font-family:  $ff1

ol
  padding-left: 0px
ul
  padding-left: 0px 

.ts-atom-p
   font-size: 16px
   line-height: 1.5

.ts-card-container
   padding-left: 26px

.ts-molc-card
   padding: 0

.ts-molc-card--mod   
   width: 324px
   height: 374px
   padding-bottom: 10px
   margin-bottom: 10px

.ts-cardt1__h4
   font-size: 25px
   line-height: 1
   letter-spacing: -0.5px
   font-weight: 800
.ts-cardt1__p
   line-height: 1.25
   margin-bottom: 10px

.ts-atom-card__img
   width: 80px
   height: 80px
   margin-bottom: -16px

.ts-org-footer
   padding: 0 
   background-color: black

.ts-molc-footercard 
   padding: 0

.ts-molc-footercard--bg
   border: none
   background-color: black
   width: 170px
   height: 220px
.ts-molc-footercard__img
   width: 80px
   height: 80px
   margin-left: 2px

.ts-molc-footercard__h4
   font-size: 22px
.ts-molc-footercard__p
   font-size: 17px
   color: $foot
.ts-footer__hr   
   width: 98%
   color: white
   height: 1.5px!important

.ts-footer__logo-img 
   margin-top: 37px
   width: 124px
   height: 24px
.ts-footer__p-demo
   width: 260px
   letter-spacing: normal!important
   margin-top: 32px
.ts-footer__btn-text   
   font-family: $ff2
   font-size: 16px!important
   width: 106px
   height: 46px

.ts-footer__list
   padding: 0px

.ts-footer__list-heading   
   font-size: 17px!important
   letter-spacing: normal!important

.ts-footer__list-items
   list-style-type: none
   color: $foot

.ts-footer__list-social
   padding: 0px

.ts-footer__list-social-items
   list-style-type: none
.ts-footer__list-social-img
   width: 25px
   height: 25px
.ts-footer__credits
   font-size: 13px!important
   color: #505050


@media screen and (min-width: $medium)
   .ts-card-container
      padding-left: 55px
      padding-right: 70px
      

   .ts-molc-card
      padding: 0px
      

   .ts-molc-card--mod   
      width: 218px
      height: 578px
      margin-bottom: 10px
      margin-left: -2px
      margin-right: -2px

   .ts-cardt1__h4
      font-size: 25px
      line-height: 1
      letter-spacing: -0.5px
      font-weight: 800
   .ts-cardt1__p
      line-height: 1.25
      margin-bottom: 10px

   .ts-atom-card__img
      width: 80px
      height: 80px
      margin-bottom: -16px


   .ts-footer-banner__h2   
      padding-top: 40px
      margin-bottom: 20px

   .ts-footer-banner__p
      font-size: 22px
      width: 500px
      letter-spacing: -0.15px
      margin-top: 10px
      margin-bottom: 50px

      
   .ts-molc-footercard--bg
      margin-top: 40px
      margin-left: 23px
   .ts-molc-footercard__img
      width: 110px
      height: 110px
      margin-left: 2px
      margin-top: 2px

   .ts-footer__credits
      padding-bottom: 40px
      padding-right: 100px


@media screen and (min-width:$large)
   .ts-card-container
      padding-left: 74px
      padding-right: 85px
      

   .ts-molc-card
      padding: 0px
      

   .ts-molc-card--mod   
      width: 290px
      height: 596px
      margin-bottom: 10px
      margin-left: -2px
      margin-right: -2px

   .ts-cardt1__h4
      font-size: 25px
      line-height: 1
      letter-spacing: -0.5px
      font-weight: 800
   .ts-cardt1__p
      line-height: 1.25
      margin-bottom: 10px

   .ts-atom-card__img
      width: 80px
      height: 80px
      margin-bottom: -16px

   .ts-footer__list-social
      margin-right: 10px
      
   
   .ts-footer__list-social-img
      width: 25px
      height: 25px
   .ts-molc-footercard--bg
      margin-top: 40px
      margin-left: 23px
      width: 260px
   
   .ts-footer__credits

      font-size: 14px!important
      color: #505050