$medium : 768px
$large : 992px
.ts-atom-h2-para
    font-size: 18px
    font-weight: 400
    line-height: 27px
    letter-spacing: -0.15px

.ts-atom-h3
    font-size: 24px
    line-height: 24px
    font-weight: 800
    letter-spacing: -0.5px

.ts-atom-h3-para
    font-size: 13px
    line-height: 14.95px

.ts-atom-h4
    font-size: 22px
    line-height: 22px
    font-weight: 800
    letter-spacing: -0.5px

.ts-atom-h4-para
    font-size: 14px
    line-height: 23.1px
    letter-spacing: 0.05px

.ts-atom-h1-para-highlight
    font-size: 22px
    font-weight: 700
    line-height: 30.8px

.ts-atom-h2-para-highlight
    font-size: 18px
    font-weight: 700
    line-height: 20.7px
    letter-spacing: -0.15px

.ts-atom-agencies-highlight
    font-size: 17px
    font-weight: normal
    line-height: 19.55px
    border-color: #c0deeb
    border-width: 1px
    color: rgb(82, 81, 81)
    font-weight: 700
    border-radius: 6px
    background-color: #d0ecf8
    font-family: "Inconsolota" !important

.ts-org-green
    background-image: url('/images/green.PNG')

.ts-org-green--mt
    margin-top: 60px

@media screen and (min-width: $medium)
    .ts-atom-h3
        font-size: 30px
        line-height: 30px
        font-weight: 800
        letter-spacing: -0.5px

    .ts-atom-h3-para
        font-size: 17px
        line-height: 19.55px

    .ts-atom-h4
        font-size: 24px
        line-height: 24px
        font-weight: 800
        letter-spacing: -0.5px

    .ts-atom-h4-para
        font-size: 16px
        line-height: 26.4px
        letter-spacing: 0.05px

    .ts-atom-h2-para
        font-size: 21px
        line-height: 32px

    .ts-atom-h1-para-highlight
        font-size: 24px
        font-weight: 700
        line-height: 33.6px

    .ts-atom-h2-para-highlight
        font-size: 21px
        font-weight: 700
        line-height: 24.15px
        letter-spacing: -0.15px

    .ts-atom-agencies-highlight
        font-size: 19px
        line-height: 21.85px
        color: grey !important
        font-weight: 600
        border-color: #c0deeb
        border-width: 1px
        border-radius: 6px
        background-color: #d0ecf8
        font-family: 'Inconsolota-a'

@media screen and (min-width: $large)
    .ts-atom-h3
        font-size: 36px
        line-height: 36px
        font-weight: 800
        letter-spacing: -0.5px
    .ts-atom-h1--meera-pad-left
        margin-left: 188px
    .ts-atom-h1-para--meera-pad-left
        margin-left: 218px
        max-width: 667px !important
    .ts-molc-head-desc__h2-para--paddingright
        padding-right: 8rem
    .ts-org-thoughtful--margintop
        margin-top: 80px
        margin-bottom: 5rem
