$small: 576px
$medium: 768px
$large: 1200px
$font_secondary: "inconsolata-a,times new roman"

.ts-atom-header-link
    font-size: 18px
    font-weight: 400
    line-height: 27px
    font-family: "Inter"
.ts-atom-icon
    cursor: pointer
.ts-atom-button
    font-family: $font_secondary
    cursor: pointer

@media screen and (min-width: $medium)

    .ts-atom-header-link
        font-size: 18px
        font-weight: 400
        line-height: 27px
        font-family: "Inter"
    .ts-atom-icon
        cursor: pointer
    .ts-atom-button
        font-family: $font_secondary
        cursor: pointer
