
.ts-atom-card-title-h3
    fontfamily: "Inter"
    font-size: 28px
    weight: 800
    line-height: 28px
    letter-spacing: -0.5px

.ts-atom-card-body
    font-family: "Inter"
    font-size: 18px
    font-weight: 800
    line-height: 22.5px
    letter-spacing: normal
