<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../sass/styles.css" />
  </head>

  <body>
    <!------------Section-Better------------------>

     <section class="ts-org-better">
      <div class="container">
        <div class="row mx-0">
          <div class="col-12 col-md-10 col-lg-7 ts-molc-better">
            <h1 class="ts-atom-h1 ts-molc-better__h1">
              better web delivery for growth-oriented teams.
            </h1>
            <p class="ts-atom-h1-para ts-molc-better__h1-para">
              Dedicated web team powered by tech. Get monthly all-you-can-ask
              web design and technical work done in one managed service.
            </p>
          </div>
          <div class="col-12 col-md-6">
            <img class="ts-atom-img" src="" alt="" />
          </div>
        </div>
      </div>
    </section> 

    <!------------Section-Better------------------>

    <!------------Section-quality----------------->

    <!-- <section class="ts-org-quality  ">
      <div class="container">
        <div class="row text-center mx-0">
            
          <div class="col-12 ts-molc-quality ts-org-quality__head-and-desc ">
            <h2 class="ts-atom-h2 ts-molc-quality__h2 ts-molc-quality__h2--mb18 ">
              a quality web experience for everyone.
            </h2>
            <p class="ts-atom-h2-para ts-molc-quality__h2-para ps-4 ">
              One service for all your website needs.
              <span class="ts-atom-highlight">Host</span>,
              <span class="ts-atom-highlight">design</span>,
              <span class="ts-atom-highlight">build</span>,
              <span class="ts-atom-highlight">test</span>,
              <span class="ts-atom-highlight">learn</span>, and
              <span class="ts-atom-highlight">integrate</span>—without the
              chaos.
            </p>
        
          </div>
        </div>
      </div>
    </section> -->

    <!------------Section-quality----------------->

    <!------------Section-thoughtful----------------->

     <section class="ts-org-thoughtful">
      <div class="container">
        <div class="row mx-0">
          <div class="col-12 col-md-7 col-lg-6 ts-org-left-part ">
            <div class="md-container">
            <div class="row">
              <div class="ts-molc-head-desc ">
                <h2 class="ts-atom-h2 ts-molc-head-desc__h2 ts-molc-head-desc__h2--width303">
                  thoughtful design for brands that matter.
                </h2>
                <p class="ts-atom-h2-para ts-molc-head-desc__h2-para ts-molc-head-desc__h2-para--width303">
                  Deliver a world-class site experience without worrying about
                  scope limitations and budget. We handle your web design and
                  development work—bespoke, feature-rich, and conversion-focused
                  to meet your business needs.
                </p>
              </div>
              <div class="">
                <ul class="d-inline-block ts-molc-img-desc ts-molc-img-desc--ml-5 ">
                  <li
                    class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons "
                  >
                    <img
                      src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                      alt=""
                    />
                  </li>
                  <li
                    class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc  "
                  >
                    Scalable web design and development solution
                  </li>
                </ul>
                <ul class="d-inline-block ts-molc-img-desc">
                  <li
                    class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                  >
                    <img
                      src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                      alt=""
                    />
                  </li>
                  <li
                    class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                  >
                    Scalable web design and development solution
                  </li>
                </ul>
                <ul class="d-inline-block ts-molc-img-desc">
                  <li
                    class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                  >
                    <img
                      src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                      alt=""
                    />
                  </li>
                  <li
                    class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                  >
                    Scalable web design and development solution
                  </li>
                </ul>
                <ul class="d-inline-block ts-molc-img-desc">
                  <li
                    class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                  >
                    <img
                      src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                      alt=""
                    />
                  </li>
                  <li
                    class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                  >
                    Scalable web design and development solution
                  </li>
                </ul>
                <ul class="d-inline-block ts-molc-img-desc">
                  <li
                    class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                  >
                    <img
                      src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                      alt=""
                    />
                  </li>
                  <li
                    class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                  >
                    Scalable web design and development solution
                  </li>
                </ul>
              </div>
            </div></div>
          </div>
          <div
            class="col-12 col-md-4 col-lg-5 ts-atom-img ts-org-thoughtful__img "
          >
            <img src="../h2_image.PNG" class="img-fluid abcd" alt="">
          </div>
        </div>
      </div>
    </section> 

    <!------------Section-thoughtful----------------->

    <!------------Section-CRO----------------->

    <section class="ts-org-thoughtful ts-organism-CRO--bg-fbf7f5">
        <div class="container">
          <div class="row mx-0 pt-5">
            <div class="col-12 col-md-7 col-lg-6 ts-org-left-part ">
              <div class="md-container">
              <div class="row">
                <div class="ts-molc-head-desc">
                  <h2 class="ts-atom-h2 ts-molc-head-desc__h2 ts-molc-head-desc__h2--width303">
                    CRO for the customer-centric.
                  </h2>
                  <p class="ts-atom-h2-para ts-molc-head-desc__h2-para ts-molc-head-desc__h2-para--width303">
                    Deliver a world-class site experience without worrying about
                    scope limitations and budget. We handle your web design and
                    development work—bespoke, feature-rich, and conversion-focused
                    to meet your business needs.
                  </p>
                </div>
                <div class="">
                  <ul class="d-inline-block ts-molc-img-desc ts-molc-img-desc--ml-5 ">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc "
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                </div>
              </div></div>
            </div>
            <div
              class="col-12 col-md-4 col-lg-5 ts-atom-img ts-org-thoughtful__img "
            >
              <img src="../h2_image.PNG" class="img-fluid abcd" alt="">
            </div>
          </div>
        </div>
      </section> 
  
      <!------------Section-CRO----------------->

    
    <!------------Section-automate----------------->

     <section class="ts-org-thoughtful">
        <div class="container">
          <div class="row mx-0">
            <div class="col-12 col-md-7 col-lg-6 ts-org-left-part ">
              <div class="md-container">
              <div class="row">
                <div class="ts-molc-head-desc ">
                  <h2 class="ts-atom-h2 ts-molc-head-desc__h2 ts-molc-head-desc__h2--width303">
                    automate work with your site.
                  </h2>
                  <p class="ts-atom-h2-para ts-molc-head-desc__h2-para ts-molc-head-desc__h2-para--width303">
                    Deliver a world-class site experience without worrying about
                    scope limitations and budget. We handle your web design and
                    development work—bespoke, feature-rich, and conversion-focused
                    to meet your business needs.
                  </p>
                </div>
                <div class="">
                  <ul class="d-inline-block ts-molc-img-desc ts-molc-img-desc--ml-5 ">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                </div>
              </div></div>
            </div>
            <div
              class="col-12 col-md-4 col-lg-5 ts-atom-img ts-org-thoughtful__img "
            >
              <img src="../h2_image.PNG" class="img-fluid abcd" alt="">
            </div>
          </div>
        </div>
      </section> 
  
      <!------------Section-automate----------------->
    <!------------Section-friendly----------------->

    
    <section class="ts-org-thoughtful ts-organism-CRO--bg-fbf7f5">
        <div class="container">
          <div class="row mx-0 pt-5">
            <div class="col-12 col-md-7 col-lg-6 ts-org-left-part ">
              <div class="md-container">
              <div class="row">
                <div class="ts-molc-head-desc ">
                  <h2 class="ts-atom-h2 ts-molc-head-desc__h2 ts-molc-head-desc__h2--width303">
                    CRO for the customer-centric.
                  </h2>
                  <p class="ts-atom-h2-para ts-molc-head-desc__h2-para ts-molc-head-desc__h2-para--width303">
                    Deliver a world-class site experience without worrying about
                    scope limitations and budget. We handle your web design and
                    development work—bespoke, feature-rich, and conversion-focused
                    to meet your business needs.
                  </p>
                </div>
                <div class="">
                  <ul class="d-inline-block ts-molc-img-desc ts-molc-img-desc--ml-5 ">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc "
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                  <ul class="d-inline-block ts-molc-img-desc">
                    <li
                      class="list-group-item ts-atom-section-icons ts-molc-img-desc__section-icons ts-molc-head-desc-CRO__img-desc"
                    >
                      <img
                        src="https://adaptable-e3d7a660.aw-cdn.com/wp-content/themes/adaptable/assets/images/home-design-solution.svg"
                        alt=""
                      />
                    </li>
                    <li
                      class="list-group-item ts-atom-icon-desc ts-molc-img-desc__icon-desc ts-molc-head-desc-CRO__img-desc"
                    >
                      Scalable web design and development solution
                    </li>
                  </ul>
                </div>
              </div></div>
            </div>
            <div
              class="col-12 col-md-4 col-lg-5 ts-atom-img ts-org-thoughtful__img "
            >
              <img src="../h2_image.PNG" class="img-fluid abcd" alt="">
            </div>
          </div>
        </div>
      </section> 
      <!------------Section-thoughtful----------------->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
