<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="footerorganism"
   content="This organism when placed anywhere in page should be independent">
  <title>Document</title>
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css "rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link rel= "icon" href="images/favicon.ico">
  <link rel="stylesheet" href="/sass/styles.css" />
</head>
<body>
    <header class="container-fluid bg-danger" style="height:200px;">
         <p>header</p>
    </header>

    <footer class="container-fluid ts-org-footer">
        <div class="container pb-2">

        <div class="text-center ts-footer-banner">
            <h2 class="ts-atom-h2 text-light ts-footer-banner__h2">try adaptable today.</h2>
            <p class="ts-atom-p text-light ts-footer-banner__p mx-md-auto">Get peace of mind with a 15-day risk-free trial. Love it or your money back.</p>
        </div>

        <div class="row">

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <div class="card-body">
                        <h4 class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</h4>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg ">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <div class="card-body">
                        <h4 class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</h4>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg ">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <div class="card-body">
                        <div class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</div>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg ">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <div class="card-body">
                        <div class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</div>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg ">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <div class="card-body">
                        <div class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</div>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-4">
                <div class="col-lg-4 text-start">
                    <div class="card ts-molc-footercard ts-molc-footercard--bg ">
                      <img src="/try_launch.svg" class="card-img-top img-fluid ts-molc-footercard__img" alt="thumbnail">
                      <di v class="card-body">
                        <div class="card-title ts-atom-h4 ts-molc-footercard__h4 text-light">launch a new website</div>
                        <p class="card-text ts-atom-p ts-molc-footercard__p ">New website</p>
                      </div>
                    </div>
                </div>
        </div>

        </div>

      <hr class="container d-block d-md-block d-lg-none mt-4 ts-footer__hr" >
       
      <div class="container row ps-4">
        
         <div class="col-12 col-md-6">
            <div class="ms-md-4 ps-md-2">
             <img src="/adaptable-wht-fade.svg" class="img-fluid ts-footer__logo-img" alt="brand_logo">
             <p class="ts-atom-p ts-footer__p-demo text-light">Get started today. 15-day trial with a 100% money-back guarantee.</p>
             <a href="#" class="text-decoration-none">
             <button class="btn border border-white rounded-0 ts-atom-p ts-footer__btn-text text-light fw-bold mt-1" data-bs-toggle="modal"
             data-bs-target="#staticBackdrop" type="submit">Book demo</button>
             </a>

             <div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="staticBackdrop"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 text-center text-lg-start">
                            <img src="/images/adaptable-blk-fade.svg" alt="brand_logo" style="width: 75px;">
                            <h3 class="ts-atom-h3">get started.</h3>
                            <div class="ts-atom-h2-para">No sales pitch. No pressure.</div>
                            <div  class="ts-atom-h3-para pt-5">Our 15-min demo call helps you:</div>
                            <div  class="ts-atom-h3-para pt-3">Understand our service and benefits.</div>
                            <div  class="ts-atom-h3-para pt-3">See our platform and how we integrate with your team.</div>
                            <div  class="ts-atom-h3-para pt-3">Identify which plan fits your needs.</div>
                        </div>
                        <div class="col-12 col-lg-6 text-center">
                            <form>
                                <div class="form-group">
                                    <label for="examplename">Name</label>
                                    <input type="text" class="form-control" id="examplename"
                                        aria-describedby="emailHelp" placeholder="John Doe">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="name@mail.com">
                                    
                                </div>

                                <select class="form-control">
                                    <label for="exampleplan">Plan</label>
                                    <option>Select one</option>
                                  </select>
                                  <small id="emailHelp" class="form-text text-muted">By clicking the book me in button you agree to our Terms and Privacy Policy.</small>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
             </div>
            </div>
          </div>  

          <div class="col-12 col-md-6  text-sm-start">
            <div class="ms-1 ms-md-0 ms-me-4 mt-4 pt-md-2">
             <ul calss="ts-footer__list">
               <p class="ts-atom-p ts-footer__list-heading text-light fw-bolder pb-2">Products</p>
               <a href="#" class="text-decoration-none"><li class="ts-footer__list-items">Features</li></a>
               <a href="#" class="text-decoration-none"><li class="ts-footer__list-items text-decoration-none">For Agencies</li></a>
               <a href="#" class="text-decoration-none"><li class="ts-footer__list-items text-decoration-none">For Inbound teams</li></a>
               <a href="#" class="text-decoration-none"><li class="ts-footer__list-items text-decoration-none">Sign in</li></a>
             </ul>
            </div> 
          </div>   
      </div>

       <div class="container row pt-5">
         
         <div class="col-12 col-md-12 col-lg-6  order-lg-last">
           <div class="text-sm-start text-md-start  ms-md-4 mb-md-3 ps-md-3 d-lg-inline-flex d-lg-inline-block">
            <ul class="ts-footer__list-social d-flex">
              <a href="#">
                <li class="ts-footer__list-social-items"><img src="/likned_wht.svg" class="img-fluid ts-footer__list-social-img" alt="social media"></li>
              </a>
              <a href="#">
                <li class="ts-footer__list-social-items"><img src="/likned_wht.svg" class="img-fluid ts-footer__list-social-img" alt="social media"></li>
              </a>
              <a href="#">
                <li class="ts-footer__list-social-items"><img src="/likned_wht.svg" class="img-fluid ts-footer__list-social-img" alt="social media"></li>
              </a>
              <a href="#">
                <li class="ts-footer__list-social-items"><img src="/likned_wht.svg" class="img-fluid ts-footer__list-social-img" alt="social media"></li>
              </a>
            </ul>
          </div> 
         </div>

         <div class="col-12 col-md-12 col-lg-6 ">
           <div class="order-lg-first ms-md-4 ps-lg-5 ms-lg-4 ">  
            <p class="ts-atom-p ts-footer__credits"> © 2021 Adaptable. &nbsp;<span class="heart" style="width:auto;">&hearts;</span>&nbsp; from Los Angeles. All rights reserved.</p>
          </div>
          </div>

       </div>
    
      </footer>
   <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"  crossorigin="anonymous"></script>
   <script src="script/script.js"></script>
</body>
</html>

