<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>27 - A web software development company</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css "
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="../../sass/styles.css" />
  </head>
  <body>
    <!-- agencies green section -->
    <section class="ts-org-green pt-5 pb-4 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3 ts-molc-green-h2-para text-center py-2">
            <h3
              class="ts-atom-h3 ts-atom-h3--white ts-molc-green-h2-para__h2 px-md-4"
            >
              all-in-one
            </h3>
            <p
              class="ts-atom-h3-para ts-atom-h3-para--white ts-molc-green-h2-para__para px-md-3 px-lg-5"
            >
              top-tier creative and technical team
            </p>
          </div>
          <div
            class="col-6 col-md-3 ts-molc-green-h2-para text-center py-2 px-md-3 px-lg-5 mt-md-3"
          >
            <h3 class="ts-atom-h3 ts-atom-h3--white ts-molc-green-h2-para__h2">
              affordable
            </h3>
            <p
              class="ts-atom-h3-para ts-atom-h3-para--white ts-molc-green-h2-para__para px-md-3"
            >
              and predictable
            </p>
          </div>
          <div
            class="col-6 col-md-3 ts-molc-green-h2-para text-center py-2 px-md-4 px-lg-5 mt-md-4"
          >
            <h3 class="ts-atom-h3 ts-atom-h3--white ts-molc-green-h2-para__h2">
              easier
            </h3>
            <p
              class="ts-atom-h3-para ts-atom-h3-para--white ts-molc-green-h2-para__para"
            >
              to manage
            </p>
          </div>
          <div
            class="col-6 col-md-3 ts-molc-green-h2-para text-center py-2 px-lg-5 mt-md-3"
          >
            <h3 class="ts-atom-h3 ts-atom-h3--white ts-molc-green-h2-para__h2">
              scalable
            </h3>
            <p
              class="ts-atom-h3-para ts-atom-h3-para--white ts-molc-green-h2-para__para"
            >
              to service multiple brands
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- agencies section 4 -->
    <section class="mx-md-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 mt-4 mt-md-3 px-3">
            <h4 class="ts-atom-h4 ps-md-0 pe-md-4">
              manage multiple client sites
            </h4>
            <p class="ts-atom-h4-para pt-2 pe-md-2">
              Run your client sites, small or large, with our business-class
              infrastructure. We bring everything together from the team to the
              technology—all in an easy-to-access service.
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-3 px-4 pe-md-2">
            <h4 class="ts-atom-h4 pe-md-3">deliver more high-ticket value</h4>
            <p class="ts-atom-h4-para pt-2">
              Augment your agency's service delivery and value proposition.
              Expand your current web solutions with a suite of capabilities
              that help your client's grow smarter and faster online.
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-3 px-4">
            <h4 class="ts-atom-h4">
              practical solution for CRO and growth-driven design
            </h4>
            <p class="ts-atom-h4-para pt-2">
              Offer your clients an iterative web approach without the hiring
              headaches. In a single service, we give you the tools and
              specialists to tackle all your client's monthly objectives.
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-3 px-4">
            <h4 class="ts-atom-h4">create better converting landing pages</h4>
            <p class="ts-atom-h4-para pt-2">
              Service your client's inbound web needs like a boss. Launch new
              pages, tests, and features at the speed of light with an on-demand
              service and fast turnaround times. Optimize with freedom when the
              time comes.
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-3 px-4">
            <h4 class="ts-atom-h4">creative client experiences</h4>
            <p class="ts-atom-h4-para pt-2">
              Offer best-in-class client experiences with digital interactive
              guides and documentation. Pitch with visually-rich landing pages
              or offer interactive brand guides. Our flexible scope and
              whitelisted libraries compliment your team's ingenuity.
            </p>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-2 px-4">
            <h4 class="ts-atom-h4 pe-md-0">accessible web team</h4>
            <p class="ts-atom-h4-para pt-2">
              Forget dodgy freelancers and expensive, complex teams. You get
              expert marketers, creatives and developers working on your client
              work whenever you need it. When it comes to your ledger, our
              flat-rate service makes managing your budget simple and
              predictable.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- agencies section 4 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="script/script.js"></script>
  </body>
</html>
