<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Molecule</title>
    <link rel="stylesheet" href="../../sass/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    </head>

<body>

     <!----------Header------------------>
     <header>
         <div class="ts-content-container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand " href="#"><img class="ts-atom-logo" src="/images/adaptable-blk-fade.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center justify-content-lg-end ts-mocl-header
            " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active ">
                        <a class="nav-link ts-atom-header-link ts-atom-header-link--me" href="#">How it works </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ts-atom-header-link ts-atom-header-link--me" href="#">Use Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ts-atom-header-link ts-atom-header-link--me" href="#">Plans</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ts-atom-header-link ts-atom-header-link--me" href="#">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link ts-atom-header-link ts-atom-header-link--me" href="#">Signin</a>
                    </li>
                    <li class="ts-mocl-header-button">
                    <button class=" btn-dark my-2 my-sm-0 ts-atom-button "
                        type="submit">Book demo </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </header>
    <!----------Header------------------>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>